//
//  Secrets.xcconfig
//  Receipt Finder
//
//  Created by Rajahiresh Kalva on 11/9/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
OPENAI_API_KEY = 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

